body {
    margin:0;
}

.main-screen-container {
    max-width: 950px;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    /*flex-wrap:wrap;*/
}

    .main-screen-container .player-icon-wrapper {
        width: 300px;
        height: 320px;
        text-align: center;
        /*padding-top: 40%;*/ /*Ska göra så att height är samma som width*/
    }

        .main-screen-container .player-icon-wrapper .img {
            background-color: red;
            border-radius: 50%;
            width: 300px;
            height: 300px
        }

        .main-screen-container .player-icon-wrapper .player-name {
            margin-top:10px;
            font-size:30px;
        }

.contender-container {
    width: 90%;
    text-align: center;
}

    .contender-container * {
        margin: auto;
    }
