<div class="main-screen-container">
    <div class="player-icon-wrapper">
        <div class="img"></div>
        <div class="player-name">Eva</div>
    </div>
    <div class="player-icon-wrapper">
        <div class="img"></div>
        <div class="player-name">Kalle</div>
    </div>
    <div class="player-icon-wrapper">
        <div class="img"></div>
        <div class="player-name">Love</div>
    </div>
</div>