@*@using Buzzer.Controllers

<div class="startpage-container">
    <h1 id="intro-text">Quiz</h1>
    @using (Html.BeginForm(nameof(BuzzerController.JoinRoom), "Buzzer", FormMethod.Get))
    {
        @Html.ValidationSummary()
        <input type="text" name="playerName" class="form-control room-input" placeholder="Namn" />
        <input type="text" name="roomCode" class="form-control room-input" placeholder="Skriv in rumkod" />
        <input type="submit" id="join-btn" class="btn btn-primary" value="Anslut!" />
    }
    @using (Html.BeginForm(nameof(BuzzerController.CreateRoom), "Buzzer", FormMethod.Post))
    {
        <input type="submit" id="btn-create-room" class="btn btn-secondary" style="width:100%" value="Skapa rum" />
    }
</div>*@

@*Ljud ska vara Dante, prutt och mer...*@

<div style="height:100vh" class="row">
    <div class="col-lg-3" style="border-right:solid black 2px" id="player-wrapper-vertical">
        <div class="player-icon-wrapper">
            <div class="img"></div>
            <div class="player-name">Sprit</div>
        </div>
        <div class="player-icon-wrapper">
            <div class="img"></div>
            <div class="player-name">Knark</div>
        </div>
        <div class="player-icon-wrapper">
            <div class="img"></div>
            <div class="player-name">Gnugg</div>
        </div>
    </div>
    <div class="col-lg-9 content-container">
        <h1 style="width:100%;text-align: center;margin-top: 10px;">Vem är det här?</h1>
        <img class="full-img" src="~/image/LoveWikberg.jpg" />
    </div>
</div>